---
---

@import "minimal-light";


.image.avatar img {
  width: 150px; /* nach Wunsch anpassen */
  border-radius: 50%; /* für rundes Bild */
}

email {
  font-family: 'Playfair Display', serif; /* deine gewünschte Font */
  font-size: 1rem;
}
