---
---

@import "minimal-light";


.image.avatar img {
  width: 150px; /* nach Wunsch anpassen */
  border-radius: 50%; /* für rundes Bild */
}

email {
  font-family: 'Crimson Pro', serif !important;
}
